In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\admin'

In [5]:
import pandas as pd

In [6]:
pd.read_excel('Data1.xlsx')

   Sr No    Name Middle Name   Last Name  Percentage
0      1  Ramesh         Anna     Akware          60
1      2  Suresh         Guna     Babode          64
2      3  Nikhil        Umesh  Chaudhari          73
3      4  Ganesh      Umakant    Dhabade          78
4      5  Dipesh       Suresh       Eite          85